div{
  max-width: 200px;
  height: 450px;
  box-shadow: 1px 2px 2px 2px darkgray;
  margin: 5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  background-color: lightgray;
}

h2{
  padding-left: 10px;
  font-size:15px;
}

p{
  padding-left: 10px;
  font-size:15px;
  margin: 2px;
}

ul{
  margin-top: 0;
}

li{
}
